@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.86%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0, 83.7%, 59%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 218.18 52.38% 95.88%;
    --secondary-foreground: 0 0% 9%;
    --muted: 218.18 52.38% 95.88%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 218.18 52.38% 95.88%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 41.67% 90.59%;
    --input: 222 41.67% 90.59%;
    --ring: 0, 83.7%, 59%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 180 2.56% 7.65%;
    --foreground: 0 0% 98%;
    --card: 210 7.41% 10.59%;
    --card-foreground: 0 0% 98%;
    --popover: 210 7.41% 10.59%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 225 9.3% 16.86%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 225 9.3% 16.86%;
    --ring: 0 72.2% 50.6%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply h-full;
  }
  body {
    @apply bg-background text-foreground h-full;
  }
  input,
  textarea {
    /* background-color: hsl(var(--input)); */
  }
}
